@tailwind base;
@tailwind components;
@tailwind utilities;

.floorbtn:hover span {
    display: none;
}

.floorbtn:hover::before {
    content: "✕";
}

.floorbtn:hover {
    background-color: #c82104;
}

.floorchooser {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(-50%);
}

input[type="file"] {
    display: none;
}

.flooraddbutton:hover {
    filter: brightness(90%);
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}